@import url("https://fonts.googleapis.com/css?family=Poppins");
body {
    font-family: 'Poppins', sans-serif
}

.badge {
    font-weight: 500
}

#container {
    display: inline-block;
    position: relative;
    width: 100%
}

#dummy {
    padding-top: 100%
}

/*Ph moved the next three definitions from article html*/
#resultJSON:empty {display: none}

#loader {
    z-index:1000;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #1e93e0;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20%;
    left: 50%;
    -webkit-animation: spin 1s linear infinite;
    /* Safari */
    animation: spin 1s linear infinite;
}

/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#element {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.circle-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center
}

.social {
    text-decoration: none !important;
    color: #6c757d
}

.social.twitter:hover {
    color: #1da1f2
}

.social.facebook:hover {
    color: #3b5998
}

.social.email:hover {
    color: #db4437
}

.social.github:hover {
    color: #333
}

.social.linkedin:hover {
    color: #007bb5
}

.social.medium:hover {
    color: #3b3b3b
}

.link-after,
.nav-link::after,
.navbar-brand::after,
.nav-item.active::after {
    content: '';
    display: block;
    height: .15em;
    background: #007bff
}

.nav-link::after,
.navbar-brand::after {
    width: 0;
    transition: width .35s
}

.nav-link:hover::after,
.navbar-brand:hover::after {
    width: 100%
}

.nav-item.active {
    font-weight: bold
}

.nav-item.active::after {
    width: 100% !important
}

.navbar-brand {
    margin-bottom: -14px
}

.navbar-brand::after {
    margin-top: -.25em
}

.project.card {
    border-radius: 15px;
    text-decoration: none !important;
    margin: 10px auto
}

.project.card .card-img-top {
    border-radius: 15px 15px 0 0;
    width:200px;
}

.project.card:hover:not(.article) {
    box-shadow: -2px 8px 40px -12px rgba(0, 0, 0, 0.24)
}

.search-box {
    box-shadow: none !important
}

.article.card {
    border-radius: 15px;
    text-decoration: none !important;
    padding: 15px;
    height: 100%
}

.article.card .card-footer {
    font-size: 14px;
    margin: 0 -15px -15px -15px;
    padding: 15px 35px
}

.article .article-metadata {
    font-size: 14px;
    margin-top: -6px
}

.article footer {
    font-size: 10px;
    color: #6c757d;
    text-decoration: underline;
    text-decoration-color: yellow;
    text-align: right;
    margin-top: 4em;
    margin-right: 2em
}

.article h1,
.article h2 {
    margin-top: 32px
}

.article hr {
    background: #6c757d
}

.article img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 1rem auto
}

.article .video {
    position: relative;
    padding-bottom: 56.25%;
    margin-bottom: 1rem;
    width: 100%
}

.article .video iframe {
    position: absolute;
    height: 100%;
    width: 100%
}

.article a:not(.btn):not([class^="carousel-"]):not([class^="list-"]) {
    display: inline-block;
    text-decoration: none
}

.article a:not(.btn):not([class^="carousel-"]):not([class^="list-"]):hover {
    color: #007bff
}

.article a:not(.btn):not([class^="carousel-"]):not([class^="list-"])::after {
    content: '';
    display: block;
    height: .15em;
    margin-top: -.15em;
    width: 0;
    background: #007bff;
    transition: width .35s
}

.article a:not(.btn):not([class^="carousel-"]):not([class^="list-"]):hover::after {
    width: 100%
}

.article pre {
    background: #f8f9fa;
    border: 1px solid #ddd;
    color: #343a40;
    font-family: monospace;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 1.6em;
    max-width: 100%;
    padding: 1em 1.5em;
    display: block;
    page-break-inside: avoid;
    overflow: auto;
    word-wrap: break-word
}

.article code.highlighter-rouge {
    background-color: #f8f9fa;
    color: #343a40;
    border-radius: 3px;
    margin: 0;
    padding: .2em .65em
}

.article blockquote {
    border-left: 0.25em solid #007bff;
    color: #6c757d;
    padding: 0 1em
}

.article table {
    display: block;
    overflow-x: auto;
    margin: 1rem 0
}

.article table td,
.article table th {
    border: 1px solid #ddd;
    padding: 8px 16px
}

.article table th {
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 500;
    text-align: left;
    background-color: #007bff;
    color: white
}

.article table tr:nth-child(even) {
    background-color: #f8f9fa
}

.timeline-body {
    position: relative;
    background-color: #f8f9fa;
    border-radius: 0 15px 15px 0;
    padding: 5px 0
}

.timeline-body:after {
    content: '';
    width: 4px;
    height: 100%;
    background-color: #007bff;
    position: absolute;
    left: -4px;
    top: 0
}

.timeline-body .timeline-item {
    position: relative
}

.timeline-body .timeline-item:after {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid #007bff;
    background-color: #f8f9fa;
    position: absolute;
    left: -12px;
    top: 8px;
    z-index: 10
}

.timeline-body .timeline-item .content {
    margin: 40px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #343a40
}

.timeline-body .timeline-item .content .date {
    margin-top: -5px;
    margin-bottom: 15px;
    color: #6c757d
}

.cls-1 {
    fill: #ffc541
}

.cls-2 {
    fill: #4e4066
}

.cls-3 {
    fill: #6f5b92
}

.cls-4 {
    fill: #f78d5e
}

.cls-5 {
    fill: #fa976c
}

.cls-6 {
    fill: #b65c32;
    opacity: 0.6
}

.cls-7 {
    fill: #b65c32;
    opacity: 0.4
}

.cls-8 {
    fill: #b65c32
}

.cls-9 {
    fill: #f4b73b
}

.cls-10 {
    opacity: 0.6
}

.cls-11 {
    fill: #f9c358
}

.cls-12 {
    fill: #9b462c
}

.cls-13 {
    fill: #aa512e
}

.cls-14 {
    fill: #7d6aa5
}

/*Circle animation for landing page profile picture*/

.circle {
    animation: circle-anim ease infinite;
    transform-origin: center;
    transform-box: fill-box;
    perspective: 0px
}

.circle.c1 {
    animation-duration: 2s
}

.circle.c2 {
    animation-duration: 3s
}

.circle.c3 {
    animation-duration: 1s
}

.circle.c4 {
    animation-duration: 1s
}

.circle.c5 {
    animation-duration: 2s
}

.circle.c6 {
    animation-duration: 3s
}

@keyframes circle-anim {
    50% {
        transform: scale(0.2) rotateX(360deg) rotateY(360deg)
    }
}

.four,
#ou {
    animation: four-anim cubic-bezier(0.39, 0.575, 0.565, 1) infinite
}

.four.a {
    transform-origin: bottom left;
    animation-duration: 3s;
    transform-box: fill-box
}

.four.b {
    transform-origin: bottom right;
    animation-duration: 3s;
    transform-box: fill-box
}

#ou {
    animation-duration: 6s;
    transform-origin: center;
    transform-box: fill-box
}

@keyframes four-anim {
    50% {
        transform: scale(0.98)
    }
}